.title {
    @apply text-center text-4xl leading-none font-extralight tracking-widest;
}

.label {
    @apply
    mt-4 text-center font-light text-[#505050]
    sm:text-[46px]
    md:text-[46px]
    lg:text-subtitle
}
