.title {
    @apply
    text-[50px]
    sm:text-5xl text-center leading-none font-extralight tracking-widest break-words
}

.label {
    @apply
    mt-4 text-center container m-auto font-light text-[#505050] text-[20px] px-6
    sm:text-2xl
    md:text-2xl
    lg:text-subtitle
}
