.huge__title {
    @apply
    text-center leading-none font-thin tracking-widest uppercase px-1
    text-[12vw]
    sm:text-[70px]
    md:text-[100px]
    lg:text-[120px];
}

.huge__subtitle {
    @apply text-center font-extralight
    text-[3vw]
    lg:text-subtitle;
}

.huge__stripe {
    @apply text-center font-thin leading-tight
        text-[6vh]
    sm:text-[60px]
    md:text-[80px];
}

.huge__btn {
    @apply flex justify-center mt-4 font-light;
}

