.islandInfo__con {
    @apply
    max-w-full items-center
    sm:block
    md:block
    lg:flex
}

.islandInfoReverse__con {
    @apply
    items-center flex flex-col-reverse justify-normal
    lg:flex-row lg:justify-end
}

.islandInfo__img {
    @apply
    rounded-default overflow-hidden
    sm:w-full
    md:w-full
    lg:w-3/5;
}

.islandInfo__img img {
    @apply w-full;
}

.islandInfo__text {
    @apply
    text-center
    sm:w-full sm:max-w-full
    md:w-full md:max-w-full
    lg:ml-10 lg:max-w-[400px] lg:text-left
    xl:ml-40 xl:max-w-[400px] xl:text-left;
}

.islandInfoReverse__text {
    @apply
    text-center
    sm:w-full sm:max-w-full
    md:w-full md:max-w-full
    lg:mr-10 lg:max-w-[400px] lg:text-left
    xl:mr-40 xl:max-w-[400px] xl:text-left;
}

.islandInfo__label {
    @apply
    mb-4 text-[36px]
    sm:text-[46px] sm:mt-4
    md:text-[46px] md:mt-4
    lg:text-label lg:mt-0
}

.islandInfo__desc {
    @apply
    text-[24px]
    leading-loose mb-6
    sm:text-[30px]
    md:text-[30px]
    lg:text-default
}
