.default {
    @apply
    border rounded-default
    sm:text-[30px] sm:px-12 sm:py-8
    md:text-[30px] md:px-12 md:py-8
    lg:text-default lg:px-8 lg:py-4;
}

.black {
    @apply
    border-black text-black;
}

.white {
    @apply
    border-white text-white;
}
