.content {
    @apply bg-lightGrey text-black;
}

.wrapper {
    @apply
    container mx-auto py-8 px-2
    lg:px-8;
}

.accommodation {
    @apply flex max-h-[100vh] py-10
}

.accommodation__item {
    @apply w-1/2
}

.accommodation__mainImageWrapper {
    @apply h-full rounded-default overflow-hidden
}

.accommodation__mainImage {
    @apply block object-cover w-full h-auto
}

.accommodation__info {
    @apply flex flex-col justify-between h-full ml-4
}

.accommodation__text {

}

.accommodation__text p {
    @apply mt-4
}

.accommodation__hotelName {
    @apply text-5xl leading-none font-extralight
}

.accommodation__images {
    @apply flex
}

.accommodation__imagesItemCon {
    @apply w-1/2 mr-4 rounded-default overflow-hidden relative
}

.accommodation__imagesItem {
    @apply w-full h-full object-cover
}

.accommodation__grade span{
    @apply text-subtitle border border-black rounded-[50%] p-2 mr-4 w-[60px] h-[60px] flex items-center justify-center
}

.accommodation__grade {
    @apply flex items-center
}

.accommodation__stars {
    @apply flex my-4
}

.accommodation__stars img {
    @apply w-[60px] h-[60px]
}

.accommodation__btn {
    @apply mt-4
}

.accommodation__arrow {
    @apply absolute bottom-3 right-3 z-50 w-8 h-8 bg-amber-300 rounded-[50%] p-1 cursor-pointer;
    transition: all 0.3s ease-in-out;
}

.accommodation__arrow:hover {
    @apply bg-white;
    transition: all 0.3s ease-in-out;
}
.accommodation__arrow img {
    @apply w-full h-full;
}
