.content {
    @apply bg-lightGrey text-black;
}

.wrapper {
    @apply
    container mx-auto py-8 px-2
    lg:px-8;
}

.accommodation {
    @apply block
    sm:flex
    xl:max-h-[100vh]
}

.accommodation__item {
    @apply w-full
    sm:w-1/2
}

.accommodation__mainImageWrapper {
    @apply h-full rounded-default overflow-hidden
}

.accommodation__mainImage {
    @apply block object-cover w-full h-full
}

.accommodation__info {
    @apply flex flex-col justify-between h-full mx-4 mt-4
    sm:mt-0 sm:ml-4
}

.accommodation__text p {
    @apply mt-4
}

.accommodation__hotelName {
    @apply text-[50px] leading-none font-extralight
    sm:text-5xl
}

.accommodation__images {
    @apply flex mt-4
    sm:hidden sm:mt-0
    lg:flex
}

.accommodation__imagesItemCon {
    @apply w-1/2 mr-4 rounded-default overflow-hidden relative
}

.accommodation__imagesItem {
    @apply w-full h-full object-cover
}

.accommodation__grade span{
    @apply border border-black rounded-[50%] p-2 mr-4 flex items-center justify-center
    w-[40px] h-[40px]
    lg:w-[60px] lg:h-[60px] lg:text-subtitle
}

.accommodation__grade {
    @apply flex items-center
}

.accommodation__stars {
    @apply flex my-4
}

.accommodation__stars img {
    @apply w-[60px] h-[60px]
}

.accommodation__btn {
    @apply mt-4
}

.accommodation__arrow {
    @apply absolute bottom-3 right-3 w-8 h-8 bg-amber-300 rounded-[50%] p-1 cursor-pointer;
    transition: all 0.3s ease-in-out;
}

.accommodation__arrow:hover {
    @apply bg-white;
    transition: all 0.3s ease-in-out;
}
.accommodation__arrow img {
    @apply w-full h-full;
}
