.header {
    @apply text-white text-default mt-2;
}

.nav {
    @apply flex justify-center items-center;
}

.nav ul {
    @apply
    w-2/5 hidden
    lg:flex;
}

.nav__left {
    @apply justify-end items-center;
}

.header a {
    @apply cursor-pointer;
}

.nav__left li {
    @apply mr-8 last:mr-0
    hidden
    lg:block;
}

.nav__right {
    @apply items-center;
}

.nav__right li {
    @apply ml-8 first:ml-0
    hidden
    lg:block;
}

.nav__switch {
    @apply md:-right-4 right-16;
}

.nav__logo img {
    @apply
    h-20 w-auto
    xl:h-24 xl:w-auto;
}


